biopython.data filter=lfs diff=lfs merge=lfs -text
cytoolz.data filter=lfs diff=lfs merge=lfs -text
docutils.data filter=lfs diff=lfs merge=lfs -text
micropip.data filter=lfs diff=lfs merge=lfs -text
mne.data filter=lfs diff=lfs merge=lfs -text
mpmath.data filter=lfs diff=lfs merge=lfs -text
pandas.data filter=lfs diff=lfs merge=lfs -text
beautifulsoup4.data filter=lfs diff=lfs merge=lfs -text
pytest.data filter=lfs diff=lfs merge=lfs -text
pytz.data filter=lfs diff=lfs merge=lfs -text
statsmodels.data filter=lfs diff=lfs merge=lfs -text
webencodings.data filter=lfs diff=lfs merge=lfs -text
pluggy.data filter=lfs diff=lfs merge=lfs -text
nose.data filter=lfs diff=lfs merge=lfs -text
pyodide.asm.data filter=lfs diff=lfs merge=lfs -text
matplotlib.data filter=lfs diff=lfs merge=lfs -text
patsy.data filter=lfs diff=lfs merge=lfs -text
sympy.data filter=lfs diff=lfs merge=lfs -text
xlrd.data filter=lfs diff=lfs merge=lfs -text
html5lib.data filter=lfs diff=lfs merge=lfs -text
numpy.data filter=lfs diff=lfs merge=lfs -text
py.data filter=lfs diff=lfs merge=lfs -text
networkx.data filter=lfs diff=lfs merge=lfs -text
Brian2.data filter=lfs diff=lfs merge=lfs -text
decorator.data filter=lfs diff=lfs merge=lfs -text
kiwisolver.data filter=lfs diff=lfs merge=lfs -text
more-itertools.data filter=lfs diff=lfs merge=lfs -text
regex.data filter=lfs diff=lfs merge=lfs -text
scipy.data filter=lfs diff=lfs merge=lfs -text
soupsieve.data filter=lfs diff=lfs merge=lfs -text
bleach.data filter=lfs diff=lfs merge=lfs -text
test.data filter=lfs diff=lfs merge=lfs -text
cycler.data filter=lfs diff=lfs merge=lfs -text
distlib.data filter=lfs diff=lfs merge=lfs -text
MarkupSafe.data filter=lfs diff=lfs merge=lfs -text
pyparsing.data filter=lfs diff=lfs merge=lfs -text
scikit-learn.data filter=lfs diff=lfs merge=lfs -text
atomicwrites.data filter=lfs diff=lfs merge=lfs -text
joblib.data filter=lfs diff=lfs merge=lfs -text
Pygments.data filter=lfs diff=lfs merge=lfs -text
python-dateutil.data filter=lfs diff=lfs merge=lfs -text
setuptools.data filter=lfs diff=lfs merge=lfs -text
uncertainties.data filter=lfs diff=lfs merge=lfs -text
Jinja2.data filter=lfs diff=lfs merge=lfs -text
nltk.data filter=lfs diff=lfs merge=lfs -text
toolz.data filter=lfs diff=lfs merge=lfs -text
attrs.data filter=lfs diff=lfs merge=lfs -text
